.tab {
	position: relative;
}

.tabLeft {
	position: absolute;
	width: 30%;
}

.tabRight {
	margin-left: 30%;
	padding-left: 10px;
	width: 70%;
}

.tabButton {
	display: block;
	padding: 5px;
}

	.tabButton.active {
	}

.tabPanel {
	display: none;
}

	.tabPanel.active {
		display: block;
	}
