.tab {
	position: relative;
}

.tabLeft {
	position: absolute;
	width: 200px;
}

.tabRight {
	margin-left: 200px;
}

.tabButton {
	display: block;
	padding: 5px;
}

	.tabButton.active {
	}

.tabPanel {
	display: none;
}

	.tabPanel.active {
		display: block;
	}
