.lineEditor {
	display: inline-block;

}

.pieces {
	display: inline;
	background-color: white;
	padding: 3px;
}

	.pieces input {
		display: inline-block;
		width: auto;
		background: none;
		border-style: dotted;
		border-width: 0px 1px 0px 0px;
		border-color: #a0a0a0;
		font-family: sans-serif;
		font-size: 16px;
		padding: 3px;
	}

	.pieces input:focus {
        box-shadow: inset 1px 1px 2px #388E8E;
		-moz-box-shadow:    inset 1px 1px 2px #388E8E;
        -webkit-box-shadow: inset 1px 1px 2px #388E8E;
	}

.lineCellContainer {
	position: relative;
}

	.lineCellContainer ul {
		position: absolute;
		display: inline-block;
		border-color: red;
		top: 22px;
		left: 0;
		padding: 0;
		margin: 0;
		background-color: #FEFEFE;
		border-width: 0 3px 3px 3px;
		border-style: outset;
	}

		.lineCellContainer ul li {
			padding: 3px;
		}

ul.popup {
	background: white;
	position: absolute;
	border: 1px solid #a0a0a0;
	list-style: none;
	padding: 0;
	margin: 0;
	box-shadow: 2px 2px 2px #668B8B;
	-moz-box-shadow: 2px 2px 2px #668B8B;
    -webkit-box-shadow: 2px 2px 2px #668B8B;
}

ul.popup li {
	padding: 3px;
}

ul.popup a {
	font-family: sans-serif;
	font-size: 16px;
	color: black;
	text-decoration: none;
	display: block;
}

	ul.popup a:focus {
		background-color: #E0EEEE;
	}

span.sizeMeter {
	font-family: sans-serif;
	font-size: 16px;
	padding: 3px;
	display: none;
}

