.lineEditor {
	display: inline-block;

}

.pieces {
	border: 1px solid #A0A0A0;
	display: inline;
	background-color: white;
	padding: 3px;
}

	.pieces input {
		display: inline-block;
		width: auto;
		background: none;
		border-style: dotted;
		border-width: 0px 1px 0px 0px;
		border-color: #a0a0a0;
		font-size: 16px;
	}

.lineCellContainer {
	position: relative;
}

	.lineCellContainer ul {
		position: absolute;
		display: inline-block;
		border-color: red;
		top: 22px;
		left: 0;
		padding: 0;
		margin: 0;
		list-style: none;
		background-color: #FEFEFE;
		border-width: 0 3px 3px 3px;
		border-style: outset;
	}

		.lineCellContainer ul li {
			padding: 3px;
		}

ul.popup a {
	font-family: sans-serif;
	font-size: 16px;
}
