body {
	background-color: white;
	font-family: sans-serif;
	font-size: 16px;
}

.container {
	width: 1200px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.bird {
	position: absolute;
	left: 0;
	top: 0;
	width: 502px;
	height: 371px;
}

.text {
	position: absolute;
	left: 270px;
	top: 75px;
}

.form {
	padding-bottom: 30px;
}

.interaction {
	position: absolute;
	background-color: #FFCC99;
	padding: 20px 20px 0 20px;
	width: 910px;
	left: 250px;
	top: 250px;
}
.form .editPanel {
	width: 750px;
}
.question {
	font-weight: bold;
	color: orangered;
	margin-bottom: 5px;
}

.answer {
	font-weight: bold;
	color: green;
	margin-bottom: 5px;
}
.answerText {
	font-size: 24px;
}

.editPanel {
	width: 600px;
	display: inline-block;
	border: 1px solid #a0a0a0;
	background-color: white;
}

.tab {
	position: absolute;
	width: 1200px;
	left: 0;
	margin-top: 25px;
	margin-left: -270px;
}

.tabLeft a {
	font-weight: bold;
	color: orange;
}

.tabButton.active {
	background-color: #FEF1B5;

}
.tabRight {
	background-color: #FEF1B5;
	margin: 0;
	padding: 20px;
	height: 300px;
	overflow: auto;
}

.label {
	color: blue;
}
.attribute {
	color: #8470FF;
}
.value {
	color: #EE2C2C;
}
.constant {
	color: green;
}
.atom {
	color: #551A8B;
}
.variable {
	color: #DA70D6;
}
.condition {
	color: #DC143C;
}
.function {
	color: #0099CC;
}
.file {
	color: #668B8B;
}
.exception {
	color: #DC143C;
}
.type {
	color: #3B3178;
}
.wordTypeSuggest {
	font-style: italic;
	color: #a0a0a0;
}

button{
	color: white;
	padding:4px;
	background-color: orangered;
	border:1px solid #ffcc00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-bottom:1px solid #9f9f9f;
	cursor:pointer;
}

button:hover {
	background-color:rgba(255,204,0,0.8);
}

button:active {
	position:relative;
	top:2px;
}