body {
	background-color: white;
	font-family: sans-serif;
}

.container {
	width: 1000px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.bird {
	float:left;
	width: 502px;
	height: 371px;
}

.text {
	position: absolute;
	left: 270px;
	top: 75px;
}

.interaction {
	position: absolute;
	left: 270px;
	top: 250px;
}

.question {
	font-weight: bold;
	color: red;
	margin-bottom: 5px;
}

.answer {
	font-weight: bold;
	color: blue;
	margin-top: 30px;
	margin-bottom: 5px;
}

.editPanel {
	width: 600px;
	display: inline-block;
	border: 1px solid #a0a0a0;
}